@model IEnumerable<FriendMVC.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FriendId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FriendName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FriendId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FriendName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FriendId }) |
            @Html.ActionLink("Details", "Details", new { id = item.FriendId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FriendId })
        </td>
    </tr>
}

</table>
